.timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 0px;
  padding-left: 0;
  background-color: inherit;
}

.timeline:after {
  content: '';
  position: absolute;
  width: 5px;
  background-color: #3b535e;
  left: 50%;
  top: 0;
  bottom: 0;
  margin-left: -2px;
}

.timeline--first:after {
  top: 20px;
}

.era {
  text-align: center;
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
}

.era__title {
  background-color: #2e3c42;
  color: #EEEEEE;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: default;
}

.entry {
  padding: 10px 30px 40px 30px;
  width: 50%;
  position: relative;
  background-color: inherit;
}

.entry--right {
  margin-left: 50%;
}

.entry__content {
  padding: 20px 30px;
  background-color: #EEEEEE;
  position: relative;
  border-radius: 4px;
  cursor: default;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
}

.entry__content:hover {
  background-color: #FFFFFF;
}

.entry:before {
  content: " ";
  height: 0;
  position: absolute;
  top: 20px;
  width: 0;
  z-index: 1;
}

.entry:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: -17px;
  background-color: #EEEEEE;
  border: 3px solid #c31b1b;
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

.entry--right:after {
  right: auto;
  left: -16px;
}

h2 {
  color: #525252;
  margin-bottom: 0.5em;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
}

p {
  color: #686868;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.4;
}

li {
  list-style: none;
}

@media all and (max-width: 500px) {
  .timeline:after {
    left: 33.75px;
  }
  .era {
    text-align: left;
    padding-left: 31.875px;
  }
  .entry {
    width: 100%;
    margin-left: 0;
    padding-left: 64px;
    padding-right: 20px;
  }
  .entry:before {
    right: auto;
    left: 56px;
    margin-left: 0;
  }
  .entry:after {
    left: 15px;
  }
}

.padding {
  padding: 0;
}

.repon-video {
  padding-bottom: 29.2%;
}

.footer-background {
  position: relative;
  margin-top: 100px;
  background-color: #373737;
  border-top: 1px solid black;
}

.footer-background:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 50px;
  border-color: #2a2d2e transparent transparent transparent;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.up {
  position: relative;
  width: 50px;
  height: 50px;
  background: -webkit-linear-gradient(top, #347e9c 0%, #226681 100%);
  background: linear-gradient(to bottom, #347e9c 0%, #226681 100%);
  -webkit-transform: rotate(45deg) translateX(-50%);
          transform: rotate(45deg) translateX(-50%);
  left: 49.5%;
  top: -8px;
  overflow: hidden;
  border: 1px solid #13516a;
}

.up:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top left, #fff 0%, transparent 100%);
  background: linear-gradient(to bottom right, #fff 0%, transparent 100%);
  opacity: 0.3;
}

.up .up-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  color: white;
}

.footer-logo {
  margin: 30px auto;
}

.col-1 {
  text-align: center;
  color: white;
}

.col-2 {
  text-align: center;
  color: white;
}

.col-3 {
  text-align: center;
  color: white;
}

.col-1-1 {
  text-align: justify;
  color: white;
  padding: 0 60px;
  line-height: 30px;
}

.col-2-2 {
  text-align: justify;
  color: white;
  padding: 0 60px;
  line-height: 30px;
}

.col-3-3 {
  text-align: justify;
  color: white;
  padding: 0 60px;
  line-height: 30px;
}

.ufgp-logo {
  background-image: url(imgs/ufgp-logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 180px;
  height: 200px;
  margin: 30px auto;
}

.designer {
  color: white;
  font-size: 8px;
  opacity: 0.8;
}

body {
  background-color: #e2e2e2;
}

.padding {
  padding: 0;
  margin: 0;
}
