body {
  background-color: red;
}


.video{
  max-width: 1700px;

}

.embed-responsive-16by9 {
  padding-bottom: 29.25%;
}

.navigation {
  background: #303336; /* Old browsers */
  background: -moz-linear-gradient(top, #303336 0%, #384552 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #303336 0%,#384552 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #303336 0%,#384552 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 50px;
}

.nav-list {
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 0px;
}

.user {
  float: right;
}

.banner {
  margin:0px;
  padding: 0px;
}

.button {
  position: relative;
  background: #2da0c0; /* Old browsers */
  background: -moz-linear-gradient(top, #2da0c0 0%, #1d7fb1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2da0c0 0%,#1d7fb1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2da0c0 0%,#1d7fb1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.button-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left:0px;
  opacity: 0.2;
  background: #fff; /* Old browsers */
  background: -moz-linear-gradient(top, #fff 0%, #000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fff 0%,#000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fff 0%,#000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
