.padding {
  padding: 0;
}

.repon-video {
  padding-bottom: 29.2%;
}

.centering {
  height: 150px;
}

.quote {
  float: none;
  width: 562px;
  height: 256px;
  background-color: #267ea2;
  position: relative;
  margin: 0 auto;
  right: -80px;
}

.quote:before {
  content: '';
  position: absolute;
  width: 40%;
  height: 1%;
  bottom: 4px;
  left: 15px;
  z-index: -1;
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}

.quote:after {
  content: '';
  position: absolute;
  width: 40%;
  height: 1%;
  bottom: 4px;
  right: 15px;
  z-index: -1;
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}

.quote .background-wrapper {
  width: 54%;
  height: 100%;
  background: #133f51;
  -webkit-transform: skewX(-45deg) translateX(-50%);
          transform: skewX(-45deg) translateX(-50%);
  position: absolute;
  left: 50%;
}

.quote .person {
  width: 60%;
  height: 80%;
  border-radius: 10px;
  position: absolute;
  left: -30%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(imgs/person.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
}

.quote .pquote {
  margin-top: 10px;
  float: right;
  width: 60%;
  height: 80%;
  position: relative;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.quote .pquote .stroke {
  position: absolute;
  width: 90%;
  height: 2px;
  background-color: #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.quote .pquote .quote-saying {
  margin-top: 10px;
  font-size: 22px;
  text-align: center;
  color: white;
  font-family: 'Droid Sans', sans-serif;
  line-height: 38px;
}

.quote .pquote .airquotes {
  position: absolute;
  height: 15px;
  width: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -7.5px;
  z-index: 2;
}

.quote .pquote .author {
  margin-top: 25px;
  color: #33c7eb;
  opacity: 0.7;
  font-family: 'Droid Sans', sans-serif;
}

@-webkit-keyframes swashIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes swashIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.middle {
  margin: 50px auto;
}

.background {
  background-color: #e2e2e2;
}

.card-wrapper {
  position: relative;
  max-width: 978px;
  margin: 0 auto;
}

.new-emp-picture {
  float: left;
  width: 50%;
  max-width: 225px;
  -webkit-animation: showupleft 1s;
          animation: showupleft 1s;
}

@-webkit-keyframes showupleft {
  0% {
    -webkit-transform: translate(-200px, 200px);
            transform: translate(-200px, 200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes showupleft {
  0% {
    -webkit-transform: translate(-200px, 200px);
            transform: translate(-200px, 200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

.square {
  position: relative;
  float: left;
  width: 76%;
  max-width: 900px;
  height: 211.997px;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 1;
  -webkit-animation: showupright 1s;
          animation: showupright 1s;
}

.square::before {
  content: '';
  position: absolute;
  width: 70%;
  height: 200%;
  right: -80px;
  top: 0px;
  z-index: 0;
  -webkit-transform: skewx(-30deg);
          transform: skewx(-30deg);
  background-color: rgba(76, 148, 199, 0.47);
  -webkit-animation: popup 1.5s;
          animation: popup 1.5s;
}

.square::after {
  content: '';
  position: absolute;
  top: 24px;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 14px solid #e2e2e2;
  z-index: 0;
}

@-webkit-keyframes showupright {
  0% {
    -webkit-transform: translate(200px, 200px);
            transform: translate(200px, 200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes showupright {
  0% {
    -webkit-transform: translate(200px, 200px);
            transform: translate(200px, 200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes popup {
  20% {
    -webkit-transform: translate(1000px, 0) skewx(-30deg);
            transform: translate(1000px, 0) skewx(-30deg);
    opacity: 0;
  }
  70% {
    -webkit-transform: translate(0, 0) skewx(-30deg);
            transform: translate(0, 0) skewx(-30deg);
    opacity: 1;
  }
}

@keyframes popup {
  20% {
    -webkit-transform: translate(1000px, 0) skewx(-30deg);
            transform: translate(1000px, 0) skewx(-30deg);
    opacity: 0;
  }
  70% {
    -webkit-transform: translate(0, 0) skewx(-30deg);
            transform: translate(0, 0) skewx(-30deg);
    opacity: 1;
  }
}

.wrapper-card {
  position: absolute;
  width: 100%;
  height: 100%;
}

.emp-name {
  color: #133f51;
  text-transform: uppercase;
  font-size: 22px;
  -webkit-animation: bounceInUp 1.5s;
          animation: bounceInUp 1.5s;
}

.emp-title {
  margin: 0px auto;
  width: 40%;
  height: 50px;
  text-align: center;
}

.emp-title-1 {
  display: inline-block;
  -webkit-animation: bounceInUp 1.5s;
          animation: bounceInUp 1.5s;
}

.job-title {
  margin-top: 10px;
  border-bottom: 1px solid #133f51;
  color: #133f51;
  vertical-align: top;
}

.description {
  margin-left: 50px;
  margin-right: 50px;
  -webkit-animation: bounceInUp 1.5s;
          animation: bounceInUp 1.5s;
  color: #3e90d9;
}

.like-button {
  display: block;
  width: 100%;
  max-width: 200px;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  border: 1px solid #79a3c3;
  color: #133f51;
  -webkit-animation: bounceInUp 1.5s;
          animation: bounceInUp 1.5s;
}

.heart {
  position: absolute;
  bottom: 2px;
}

#Capa_1 {
  vertical-align: middle;
}

@-webkit-keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.middle {
  margin: 50px auto;
}

.background {
  background-color: #e2e2e2;
}

.card-wrapper-emp2 {
  position: relative;
  max-width: 978px;
  margin: 0 auto;
  display: block;
}

.new-emp-picture-emp-2 {
  float: right;
  width: 50%;
  max-width: 225px;
  -webkit-animation: showupleft 1s;
          animation: showupleft 1s;
}

@keyframes showupleft {
  0% {
    -webkit-transform: translate(-200px, 200px);
            transform: translate(-200px, 200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

.square-emp-2 {
  position: relative;
  float: right;
  width: 76%;
  max-width: 900px;
  height: 211.997px;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 1;
  -webkit-animation: showupright 1s;
          animation: showupright 1s;
}

.square-emp-2::before {
  content: '';
  position: absolute;
  width: 70%;
  height: 200%;
  left: -200px;
  top: 0px;
  z-index: 0;
  -webkit-transform: skewx(-30deg);
          transform: skewx(-30deg);
  background-color: rgba(185, 83, 185, 0.47);
  -webkit-animation: popup 1.5s;
          animation: popup 1.5s;
}

.square-emp-2::after {
  content: '';
  position: absolute;
  bottom: 20px;
  width: 0;
  height: 0;
  right: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 14px solid #e2e2e2;
  z-index: 0;
}

@keyframes showupright {
  0% {
    -webkit-transform: translate(200px, 200px);
            transform: translate(200px, 200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes popup {
  20% {
    -webkit-transform: translate(1000px, 0) skewx(-30deg);
            transform: translate(1000px, 0) skewx(-30deg);
    opacity: 0;
  }
  70% {
    -webkit-transform: translate(0, 0) skewx(-30deg);
            transform: translate(0, 0) skewx(-30deg);
    opacity: 1;
  }
}

.wrapper-card {
  position: absolute;
  width: 100%;
  height: 100%;
}

.emp-name-emp-2 {
  color: #8e3a8c;
  text-transform: uppercase;
  font-size: 22px;
  -webkit-animation: bounceInUp 1.5s;
          animation: bounceInUp 1.5s;
}

.emp-title {
  margin: 0px auto;
  width: 50%;
  height: 50px;
  text-align: center;
}

.emp-title-1 {
  display: inline-block;
  -webkit-animation: bounceInUp 1.5s;
          animation: bounceInUp 1.5s;
}

.job-title-emp-2 {
  margin-top: 10px;
  border-bottom: 1px solid #8e3a8c;
  color: #8e3a8c;
  vertical-align: top;
}

.description-emp-2 {
  margin-left: 50px;
  margin-right: 50px;
  -webkit-animation: bounceInUp 1.5s;
          animation: bounceInUp 1.5s;
  color: #b64ac1;
}

.like-button-emp-2 {
  display: block;
  width: 100%;
  max-width: 200px;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  border: 1px solid #8e3a8c;
  color: #8e3a8c;
  -webkit-animation: bounceInUp 1.5s;
          animation: bounceInUp 1.5s;
}

.heart {
  position: absolute;
  bottom: 2px;
}

#Capa_1 {
  vertical-align: middle;
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.middle {
  margin: 50px auto;
}

.background {
  background-color: #e2e2e2;
}

.card-wrapper {
  position: relative;
  max-width: 978px;
  margin: 0 auto;
  display: block;
}

.new-emp-picture-emp-3 {
  float: left;
  width: 50%;
  max-width: 225px;
  -webkit-animation: showupleft 1s;
          animation: showupleft 1s;
}

@keyframes showupleft {
  0% {
    -webkit-transform: translate(-200px, 200px);
            transform: translate(-200px, 200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

.square-emp-3 {
  position: relative;
  float: right;
  width: 76%;
  max-width: 900px;
  height: 211.997px;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 1;
  -webkit-animation: showupright 1s;
          animation: showupright 1s;
}

.square-emp-3::before {
  content: '';
  position: absolute;
  width: 70%;
  height: 200%;
  right: -80px;
  top: 0px;
  z-index: 0;
  -webkit-transform: skewx(-30deg);
          transform: skewx(-30deg);
  background-color: rgba(104, 228, 13, 0.47);
  -webkit-animation: popup 1.5s;
          animation: popup 1.5s;
}

.square-emp-3::after {
  content: '';
  position: absolute;
  bottom: 20px;
  width: 0;
  height: 0;
  left: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 14px solid #e2e2e2;
  z-index: 0;
}

@keyframes showupright {
  0% {
    -webkit-transform: translate(200px, 200px);
            transform: translate(200px, 200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes popup {
  20% {
    -webkit-transform: translate(1000px, 0) skewx(-30deg);
            transform: translate(1000px, 0) skewx(-30deg);
    opacity: 0;
  }
  70% {
    -webkit-transform: translate(0, 0) skewx(-30deg);
            transform: translate(0, 0) skewx(-30deg);
    opacity: 1;
  }
}

.wrapper-card {
  position: absolute;
  width: 100%;
  height: 100%;
}

.emp-name-emp-3 {
  color: #66b22e;
  text-transform: uppercase;
  font-size: 22px;
  -webkit-animation: bounceInUp 1.5s;
          animation: bounceInUp 1.5s;
}

.emp-title {
  margin: 0px auto;
  width: 50%;
  height: 50px;
  text-align: center;
}

.emp-title-1 {
  display: inline-block;
  -webkit-animation: bounceInUp 1.5s;
          animation: bounceInUp 1.5s;
}

.job-title-emp-3 {
  margin-top: 10px;
  border-bottom: 1px solid #66b22e;
  color: #66b22e;
  vertical-align: top;
}

.description-emp-3 {
  margin-left: 50px;
  margin-right: 50px;
  -webkit-animation: bounceInUp 1.5s;
          animation: bounceInUp 1.5s;
  color: #86c955;
}

.like-button-emp-3 {
  display: block;
  width: 100%;
  max-width: 200px;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  border: 1px solid #66b22e;
  color: #66b22e;
  -webkit-animation: bounceInUp 1.5s;
          animation: bounceInUp 1.5s;
}

.heart {
  position: absolute;
  bottom: 2px;
}

#Capa_1 {
  vertical-align: middle;
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.interview-wrapper {
  position: relative;
  height: 696px;
  width: 100%;
  background-image: url(imgs/interview-background.png);
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.interview-wrapper:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 100vw 0 0;
  border-color: #e2e2e2 transparent transparent transparent;
  top: 0;
  left: 0;
}

.interview-wrapper:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 200px 100vw;
  border-color: transparent transparent #e2e2e2 transparent;
  bottom: 0;
  right: 0;
}

.interview-info {
  position: relative;
  width: 300px;
  height: 410px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 140px auto 0 auto;
  box-shadow: 1px 1px 10px rgba(165, 124, 116, 0.44);
  padding: 5px;
  -webkit-animation: interview 1s;
          animation: interview 1s;
}

.interview-picture-wrapper {
  position: relative;
  margin: 0px auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(19, 63, 81, 0.44);
}

.interview-picture-border {
  position: relative;
  width: 85%;
  height: 85%;
  background-color: rgba(215, 41, 41, 0.44);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.interview-picture {
  position: relative;
  width: 85%;
  height: 85%;
  background-image: url(imgs/interview.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.interview-title {
  margin: 5px auto;
  text-align: center;
  color: #133f51;
}

.interview-position {
  margin: 10px auto;
  text-align: center;
  color: #d72929;
}

.interview-description {
  margin: 10px auto;
  text-align: center;
  color: #2e3c41;
}

.interview-button {
  display: block;
  position: relative;
  border-radius: 15px;
  border: 1px solid #133f51;
  padding: 5px 20px;
  color: #133f51;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin: 0 auto;
  max-width: 130px;
}

.interview-button:hover {
  background-color: #000;
  cursor: pointer;
}

.cont {
  height: 1000px;
  width: 1px;
}

.padding {
  padding: 0;
}

@-webkit-keyframes interview {
  0% {
    -webkit-transform: scale(0, 0) translateY(100px);
            transform: scale(0, 0) translateY(100px);
    opacity: 0;
  }
  90% {
    -webkit-transform: scale(0.01, 1) translateY(10px);
            transform: scale(0.01, 1) translateY(10px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0px);
            transform: scale(1, 1) translateY(0px);
  }
}

@keyframes interview {
  0% {
    -webkit-transform: scale(0, 0) translateY(100px);
            transform: scale(0, 0) translateY(100px);
    opacity: 0;
  }
  90% {
    -webkit-transform: scale(0.01, 1) translateY(10px);
            transform: scale(0.01, 1) translateY(10px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0px);
            transform: scale(1, 1) translateY(0px);
  }
}

.diamonds-wrapper {
  max-width: 730px;
  margin: 0 auto;
}

.diamond-inline {
  float: left;
  margin: 0px 31px;
  list-style: none;
}

.diamond-inline:nth-child(3n+4) {
  margin-left: 137px;
  margin-top: -140px;
}

.diamond-inline:nth-child(3n+5) {
  margin-right: 137px;
  margin-top: -140px;
}

.diamond-inline:nth-child(3n+6) {
  margin-left: 243px;
  margin-top: -140px;
}

.diamond {
  margin-top: 100px;
  position: relative;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  overflow: hidden;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid white;
}

.diamond .diamond-background {
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-transform: rotateZ(45deg) translate(-120%, 0%);
          transform: rotateZ(45deg) translate(-120%, 0%);
  left: 100%;
  top: 100%;
}

.diamond .refinery {
  background-image: url(imgs/refinery.png);
  background-size: cover;
  background-position: center;
}

.diamond .utilities {
  background-image: url(imgs/utilities.png);
  background-size: cover;
  background-position: center;
}

.diamond .history {
  background-image: url(imgs/history.png);
  background-size: cover;
  background-position: center;
}

.diamond .polymers {
  background-image: url(imgs/polymers.png);
  background-size: cover;
  background-position: center;
}

.diamond .monomers {
  background-image: url(imgs/monomers.png);
  background-size: cover;
  background-position: center;
}

.diamond .petrorabigh {
  background-image: url(imgs/petrorabigh.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
}

.diamond .diamond-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 63, 81, 0.43);
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0, 0);
          transform: translateX(-50%) translateY(-50%) scale(0, 0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.diamond:hover .diamond-overlay {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1, 1);
          transform: translateX(-50%) translateY(-50%) scale(1, 1);
}

.diamond .diamond-stroke {
  position: absolute;
  width: 80%;
  height: 80%;
  border: 1px solid rgba(215, 41, 41, 0.5);
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0, 0);
          transform: translateX(-50%) translateY(-50%) scale(0, 0);
}

.diamond:hover .diamond-stroke {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1, 1);
          transform: translateX(-50%) translateY(-50%) scale(1, 1);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.diamond .diamond-content {
  display: table-cell;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  text-align: center;
  vertical-align: middle;
  padding: 0 10px;
  color: white;
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.diamond:hover .diamond-content {
  opacity: 1;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.footer-background {
  position: relative;
  margin-top: 100px;
  background-color: #373737;
  border-top: 1px solid black;
}

.footer-background:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 50px;
  border-color: #2a2d2e transparent transparent transparent;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.up {
  position: relative;
  width: 50px;
  height: 50px;
  background: -webkit-linear-gradient(top, #347e9c 0%, #226681 100%);
  background: linear-gradient(to bottom, #347e9c 0%, #226681 100%);
  -webkit-transform: rotate(45deg) translateX(-50%);
          transform: rotate(45deg) translateX(-50%);
  left: 49.5%;
  top: -8px;
  overflow: hidden;
  border: 1px solid #13516a;
}

.up:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top left, #fff 0%, transparent 100%);
  background: linear-gradient(to bottom right, #fff 0%, transparent 100%);
  opacity: 0.3;
}

.up .up-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  color: white;
}

.footer-logo {
  margin: 30px auto;
}

.col-1 {
  text-align: center;
  color: white;
}

.col-2 {
  text-align: center;
  color: white;
}

.col-3 {
  text-align: center;
  color: white;
}

.col-1-1 {
  text-align: justify;
  color: white;
  padding: 0 60px;
  line-height: 30px;
}

.col-2-2 {
  text-align: justify;
  color: white;
  padding: 0 60px;
  line-height: 30px;
}

.col-3-3 {
  text-align: justify;
  color: white;
  padding: 0 60px;
  line-height: 30px;
}

.ufgp-logo {
  background-image: url(imgs/ufgp-logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 180px;
  height: 200px;
  margin: 30px auto;
}

.designer {
  color: white;
  font-size: 8px;
  opacity: 0.8;
}

.blogpost1 {
  position: relative;
  width: 100%;
  max-width: 326px;
  height: 326px;
  background-image: url("imgs/blogpost1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  overflow: hidden;
  float: left;
}

.blogpost1:hover .blog-wrapper {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.blogpost2 {
  position: relative;
  width: 100%;
  max-width: 326px;
  height: 326px;
  background-image: url("imgs/blogpost2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  overflow: hidden;
  float: left;
}

.blogpost2:hover .blog-wrapper {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.blogpost3 {
  position: relative;
  width: 100%;
  max-width: 326px;
  height: 326px;
  background-image: url("imgs/blogpost3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  overflow: hidden;
  float: left;
}

.blogpost3:hover .blog-wrapper {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.blog-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.blog-wrapper .blog-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, #15183f 0%, #3a59b9 100%);
  background: linear-gradient(to bottom, #15183f 0%, #3a59b9 100%);
  opacity: 0.6;
  z-index: 0;
}

.blog-wrapper .blog-author-picture {
  position: relative;
  width: 100px;
  height: 100px;
  background-image: url("imgs/interview.png");
  background-size: cover;
  border-radius: 50%;
  margin: 35px auto 2px auto;
  z-index: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.blog-wrapper .blog-author-name {
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 0px 10px 16px rgba(0, 0, 0, 0.26);
  z-index: 1;
  margin-top: 18px;
}

.blog-wrapper .blog-author-title {
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 0px 10px 16px rgba(0, 0, 0, 0.26);
  z-index: 1;
}

.blog-wrapper .blog-button {
  display: block;
  max-width: 150px;
  position: relative;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px 30px;
  margin: 30px auto 0 auto;
  color: white;
}

.margin {
  padding: 0;
  margin: 0 auto;
}

.divider-centering {
  height: 100px;
  width: 605px;
  margin: 50px auto;
}

.divider-wrapper {
  width: 200px;
  height: 100px;
  position: relative;
  display: inline-block;
}

.divider-wrapper .divider-square {
  position: relative;
  width: 70px;
  height: 70px;
  border: 3px solid #133f51;
  top: 15%;
  left: 18%;
  background-color: #e2e2e2;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.divider-wrapper .divider-square .divider-smsquare {
  position: relative;
  width: 80%;
  height: 80%;
  border: 1px solid  #d72929;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.divider-wrapper .divider-square .divider-contint {
  display: table-cell;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  text-align: center;
  vertical-align: middle;
  color: #133f51;
  font-size: 20px;
}

.divider-wrapper .divider-line {
  position: absolute;
  width: 80px;
  height: 1px;
  background: #133f51;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.divider-wrapper .divider-circle {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #d72929;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0px;
}

.title-wrapper {
  width: 400px;
  height: 100px;
  position: relative;
  display: inline-block;
}

.title-wrapper .divider-title {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #133f51;
  font-size: 30px;
  width: 100%;
  text-align: center;
}

body {
  background-color: #e2e2e2;
}

.padding {
  padding: 0;
  margin: 0;
}
