.padding {
  padding: 0;
}

.repon-video {
  padding-bottom: 29.2%;
}

.footer-background {
  position: relative;
  margin-top: 100px;
  background-color: #373737;
  border-top: 1px solid black;
}

.footer-background:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 50px;
  border-color: #2a2d2e transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%);
}

.up {
  position: relative;
  width: 50px;
  height: 50px;
  background: linear-gradient(to bottom, #347e9c 0%, #226681 100%);
  transform: rotate(45deg) translateX(-50%);
  left: 49.5%;
  top: -8px;
  overflow: hidden;
  border: 1px solid #13516a;
}

.up:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #fff 0%, transparent 100%);
  opacity: 0.3;
}

.up .up-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  transform: rotate(-45deg);
  color: white;
}

.footer-logo {
  margin: 30px auto;
}

.col-1 {
  text-align: center;
  color: white;
}

.col-2 {
  text-align: center;
  color: white;
}

.col-3 {
  text-align: center;
  color: white;
}

.col-1-1 {
  text-align: justify;
  color: white;
  padding: 0 60px;
  line-height: 30px;
}

.col-2-2 {
  text-align: justify;
  color: white;
  padding: 0 60px;
  line-height: 30px;
}

.col-3-3 {
  text-align: justify;
  color: white;
  padding: 0 60px;
  line-height: 30px;
}

.ufgp-logo {
  background-image: url(imgs/ufgp-logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 180px;
  height: 200px;
  margin: 30px auto;
}

.designer {
  color: white;
  font-size: 8px;
  opacity: 0.8;
}

.button-space {
  height: 200px;
  width: 100%;
}

.button-centering {
  display: block;
  margin: 0 auto;
}

.button {
  position: relative;
  margin-top: 100px;
  max-width: 400px;
  padding: 38px 50px;
  border: 1px solid #950e0e;
  background-color: #d92727;
  border-radius: 60px;
  height: 80px;
}

.button::before {
  content: '';
  position: absolute;
  width: 95%;
  height: 99%;
  background-color: #d41b1b;
  border-radius: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: #eb1a1a;
  border-radius: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plant-title-wrapper {
  position: relative;
  width: 100%;
  height: 100px;
  top: -50px;
  margin-left: 25px;
}

.plant-image {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1;
  top: 50%;
  left: 13%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
}

.plant-title {
  position: absolute;
  z-index: 1;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 35px;
}

.plant-background {
  position: relative;
  background-image: url(imgs/plant-background.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  margin-top: 200px;
}

.arrowbg {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 15px solid #e2e2e2;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  z-index: 1;
}

.arrowsm {
  position: relative;
  width: 30px;
  height: 30px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  border-top: 35px solid rgba(0, 0, 0, 0.4);
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
}

.plants-title {
  color: white;
}

.plants-button-wrapper {
  position: relative;
  width: 200px;
  height: 100px;
}

.plants-button-sm {
  position: absolute;
  width: 100%;
  padding: 15px 25px;
  border: 1px solid #950e0e;
  background-color: #d92727;
  border-radius: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plants-button-bg {
  position: absolute;
  width: 120%;
  height: 70%;
  padding: 15px 25px;
  background-color: #212e34;
  opacity: 0.5;
  border-radius: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plants-name {
  color: white;
  font-size: 15px;
}

.plants-name {
  margin: 0;
}

li {
  list-style: none;
  display: inline-block;
  margin: 0 45px;
}

.popup-plant {
  position: relative;
  width: 250px;
  height: 500px;
  background-image: url("imgs/popup-plant.png");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(46, 60, 66, 0.5);
}

.popup-contint {
  width: 700px;
  background-color: #ececec;
}

.popup-plant-title {
  color: #2e3c42;
  text-align: center;
}

.popup-plant-description {
  color: #2e3c42;
  text-align: center;
  line-height: 28px;
}

hr {
  border: 1px dashed #838383;
  border-radius: 10px;
  opacity: 0.5;
}

.author-container {
  margin: 0 auto;
  width: 300px;
  height: 100px;
}

.author-picture {
  background-image: url("imgs/interview.png");
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
}

.like-button {
  display: block;
  width: 100%;
  max-width: 150px;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  color: #133f51;
  animation: bounceInUp 1.5s;
}

body {
  background-color: #e2e2e2;
}

.padding {
  padding: 0;
  margin: 0;
}
