.row.margin
  .col-sm-12.margin
      .blogpost1
        .blog-wrapper
          .blog-background
          .blog-author-picture
          h4.blog-author-name Mohammed Alhazmi
          h2.blog-author-title Journy to Space
          .btn.blog-button Read More

      .blogpost2
        .blog-wrapper
          .blog-background
          .blog-author-picture
          h4.blog-author-name Mohammed Alhazmi
          h2.blog-author-title Journy to Space
          .btn.blog-button Read More

      .blogpost3
        .blog-wrapper
          .blog-background
          .blog-author-picture
          h4.blog-author-name Mohammed Alhazmi
          h2.blog-author-title Journy to Space
          .btn.blog-button Read More
