.row
  .col-sm-12
    .divider-centering
      .divider-wrapper
        .divider-square
          .divider-smsquare
            h4.divider-contint 4
        .divider-line
        .divider-circle
      .title-wrapper
        .divider-title
          h2.divider-title Mohammed Ahmed Alhazmi
