
.row.footer-background
  .col-sm-12


    .row
      .col-sm-12
        .up
          a.up-content(href="")
            .glyphicon.glyphicon-arrow-up
        h4.footer-logo


    .row
      .col-sm-4
        h2.col-1 Mission Statement
        p.col-1-1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim

      .col-sm-4
        .ufgp-logo

      .col-sm-4
        h2.col-3 Mission Statement
        p.col-3-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim

    .row
      .col-sm-12
        h6.text-center.designer All Rights Reserved
          a(href="www.iMoeDesigns.com")  www.iMoeDesigns.com
