.row
  .col-sm-12.padding
    .timeline-wrap(style='background-color: #e2e2e2')
          ul.timeline.timeline--first
            li.era
              h2.era__title PRC History
            li.entry.entry--left
              .entry__content.wow.animated.fadeIn(data-wow-duration='1s', data-wow-delay='0.5s')
                h2 2015 TCS
                p
                  | Bacon ipsum dolor amet ball tip jerky sirloin pancetta capicola prosciutto meatball pig leberkas cow pork chop shank meatloaf.
            li.entry.entry--right
              .entry__content.wow.animated.fadeIn(data-wow-duration='1s', data-wow-delay='0.5s')
                h2 2015 TCS
                p
                  | Ground round short ribs fatback, salami shoulder sausage chuck shankle landjaeger drumstick ribeye meatloaf doner.
            li.entry.entry--left
              .entry__content.wow.animated.fadeIn(data-wow-duration='1s', data-wow-delay='0.5s')
                h2 2015 TCS
                p
                  | Swine pork belly prosciutto jowl pork chop chicken filet mignon cupim doner boudin.
        .timeline-wrap(style='background-color: #e2e2e2')
          ul.timeline
            li.era
              h2.era__title Second Era
            li.entry.entry--right
              .entry__content.wow.animated.fadeIn(data-wow-duration='1s', data-wow-delay='0.5s')
                h2 Bacon Ipsum
                p
                  | Jerky corned beef jowl cupim hamburger, alcatra meatball swine pork chop ribeye leberkas short loin tenderloin picanha venison.
            li.entry.entry--left
              .entry__content.wow.animated.fadeIn(data-wow-duration='1s', data-wow-delay='0.5s')
                h2 Bacon Ipsum
                p
                  | Ribeye turducken flank cupim ball tip ham pork belly venison biltong pork chop jowl andouille spare ribs.
            li.entry.entry--right
              .entry__content.wow.animated.fadeIn(data-wow-duration='1s', data-wow-delay='0.5s')
                h2 Bacon Ipsum
                p
                  | Jerky corned beef jowl cupim hamburger, alcatra meatball swine pork chop ribeye leberkas short loin tenderloin picanha venison. Ribeye turducken flank cupim ball tip ham pork belly venison biltong pork chop jowl andouille spare ribs.
        .timeline-wrap(style='background-color: #e2e2e2')
          ul.timeline
            li.era
              h2.era__title Last Era
            li.entry.entry--left
              .entry__content.wow.animated.fadeIn(data-wow-duration='1s', data-wow-delay='0.5s')
                h2 Bacon Ipsum
                p Landjaeger cow flank ribeye meatball, corned beef tongue.
            li.entry.entry--right
              .entry__content.wow.animated.fadeIn(data-wow-duration='1s', data-wow-delay='0.5s')
                h2 Bacon Ipsum
                p Landjaeger cow flank ribeye meatball, corned beef tongue.
            li.entry.entry--left
              .entry__content.wow.animated.fadeIn(data-wow-duration='1s', data-wow-delay='0.5s')
                h2 Bacon Ipsum
                p Landjaeger cow flank ribeye meatball, corned beef tongue.
            li.entry.entry--right
              .entry__content.wow.animated.fadeIn(data-wow-duration='1s', data-wow-delay='0.5s')
                h2 Bacon Ipsum
                p Landjaeger cow flank ribeye meatball, corned beef tongue.
