.row
  .col-sm-12.padding
    .interview-wrapper
      .interview-info
        .interview-picture-wrapper
          .interview-picture-border
            .interview-picture
        h2.interview-title Mohammed Alhazmi
        h3.interview-position SSD Manager
        p.interview-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        a(href="").btn.interview-button Read More
