.row
  .col-sm-12
    .centering
.row.quotes
  .col-sm-12.quote
    .background-wrapper
    .person
    .pquote
      img.airquotes(src='imgs/quotes.svg')
      .stroke
      p.quote-saying There is no magic formula for great company culture. The key is just to treat your staff how you would like to be treated.
      h5.author.text-right - Richard Branson
