.row.plant-background
  .col-sm-12
    .arrowbg
    .arrowsm
    h2.plants-title.text-center Products Applications
    .row
      .col-sm-12
        ul
          li.plants-button-wrapper
            .plants-button-bg
            .btn.plants-button-sm
              h6.plants-name Car Fuel

          li.plants-button-wrapper
            .plants-button-bg
            .btn.plants-button-sm
              h6.plants-name Car Fuel


          li.plants-button-wrapper
            .plants-button-bg
            .btn.plants-button-sm
              h6.plants-name Car Fuel

          li.plants-button-wrapper
            .plants-button-bg
            .btn.plants-button-sm
              h6.plants-name Car Fuel

          li.plants-button-wrapper
            .plants-button-bg
            .btn.plants-button-sm
              h6.plants-name Car Fuel


          li.plants-button-wrapper
            .plants-button-bg
            .btn.plants-button-sm
              h6.plants-name Car Fuel


              li.plants-button-wrapper
                .plants-button-bg
                .btn.plants-button-sm
                  h6.plants-name Car Fuel

              li.plants-button-wrapper
                .plants-button-bg
                .btn.plants-button-sm
                  h6.plants-name Car Fuel


              li.plants-button-wrapper
                .plants-button-bg
                .btn.plants-button-sm
                  h6.plants-name Car Fuel
