.row
  .col-sm-12
    ul.diamonds.diamonds-wrapper
      li.diamond-inline
        a(href="")
          .diamond
            .diamond-background.utilities
            .diamond-overlay
            .diamond-stroke
            .diamond-content
              h2 Utilities

      li.diamond-inline
        a(href="history.html")
          .diamond
            .diamond-background.history
            .diamond-overlay
            .diamond-stroke
            .diamond-content
              h2 History

      li.diamond-inline
        a(href="refinery.html")
          .diamond
            .diamond-background.refinery
            .diamond-overlay
            .diamond-stroke
            .diamond-content
              h2 Refinery

      li.diamond-inline
        a(href="")
          .diamond
            .diamond-background.monomers
            .diamond-overlay
            .diamond-stroke
            .diamond-content
              h2 Monomer

      li.diamond-inline
        a(href="")
          .diamond
            .diamond-background.polymers
            .diamond-overlay
            .diamond-stroke
            .diamond-content
              h2 Polymer


      .clearfix
